@using Microsoft.AspNetCore.Identity
@model IEnumerable<CardHaven.Models.BidModel>
@inject UserManager<ApplicationUserModel> UserManager

@{
    ViewData["Title"] = "Mina Bud";
}

<div class="container">
    <h1 class="py-3 px-3">Mina Bud</h1>

    <div class="row d-flex justify-content-center flex-wrap">
        @if (!Model.Any())
        {
            <p>Du har inte budat på några auktioner ännu...</p>
        }
        else
        {
            @foreach (var bid in Model)
            {
                //auktionen kopplat till budet
                var auction = bid.Auction;
                var highestBid = auction.Bids.OrderByDescending(b => b.Amount).FirstOrDefault();
                var currentUser = await UserManager.GetUserAsync(User);
                //kontroll av status
                var isAuctionClosed = auction.IsClosed || auction.EndTime <= DateTime.Now;

                <div class="card m-2 @(isAuctionClosed ? "auction-closed" : "")">
                    <a asp-controller="Auction" asp-action="Details" asp-route-id="@bid.Auction.Id"
                        class="text-decoration-none text-dark">
                        <img src="@Url.Content("~/images/" + bid.Auction.ImageName)" class="card-img-top" loading="lazy"
                            alt="@bid.Auction.Name">
                        <div class="card-body">
                            <h5 class="card-title">@bid.Auction.Name</h5>
                            <p class="card-text"><strong>Set:</strong> @bid.Auction.Set</p>
                            <p class="card-text"><strong>Slutar:</strong> @bid.Auction.EndTime.ToString("g")</p>
                            <p class="card-text"><strong>Nuvarande bud:</strong> @bid.Auction.AskingPrice kronor</p>
                            <p class="card-text"><strong>Mitt bud:</strong> @bid.Amount kronor</p>

                            <!--Om auktionen är avslutad-->
                            @if (isAuctionClosed)
                            {
                                //om användaren har högsta bud
                                @if(highestBid != null && highestBid.UserId == bid.UserId && currentUser?.Id == bid.UserId)
                                                    {
                                    <span class="text-success">Grattis! Du vann auktionen.</span>
                                }
                                else
                                {
                                    <!--Om auktionen är avslutad men användaren vann inte-->
                                    <span class="text-danger">Auktionen är avslutad.- Du vann tyvärr inte.</span>
                                }
                            }

                        </div>
                    </a>
                </div>
            }
        }
    </div>
</div>