@model IEnumerable<CardHaven.Models.AuctionModel>
@{
    ViewData["Title"] = "Start";
}

<h1 class="display-4">Sveriges största auktionssajt för samlarkort</h1>
<h2>Pokémonkort</h2>

<!--Skriver ut auktionerna till skärmen. Om inga finns visas meddelande-->
<div>
    <article>
        @if (Model == null || !Model.Any())
        {
            <p>Inga auktioner tillgängliga...</p>
        }
        else
        {
            @foreach (var auction in Model)
            {
                <div>
                    <img src="@Url.Content("~/images/" + auction.ImageName)" loading="lazy" alt="">
                    <h3><strong>@auction.Name</strong></h3>
                    <p>Set: @auction.Set</p>
                    <p>@auction.EndTime</p>
                    <p>Nuvarande bud: <strong>@auction.AskingPrice</strong> tokens</p>
                    <a asp-controller="Auction" asp-action="Details" asp-route-id="@auction.Id" class="btn btn-success">Lägg bud</a>
                </div>
            }
        }
    </article>
</div>
