@model CardHaven.Models.AuctionModel

@{
    ViewData["Title"] = "Lägg bud";
}

<div>
    <h1>@Model.Name</h1>
    <hr />
    <div>
        <img src="@Url.Content("~/images/" + Model.ImageName)" loading="lazy" alt="">
        <p><strong>Set:</strong> @Model.Set</p>
        <p><strong>Beskrivning:</strong> @Model.Description</p>
        @if (Model.Condition != null)
        {
            <p><strong>Skick:</strong> @Model.Condition</p>
        }
        else
        {
            <p><strong>Skick:</strong> <em>Saknas uppgifter</em></p>
        }
        <p><strong>Säljare:</strong> @Model.Seller</p>
        <hr />
        <p><strong>Aktuellt bud:</strong> @Model.AskingPrice tokens</p>
        <p><strong>Avslutas:</strong> @Model.EndTime</p>
    </div>
    <section>
        <h2>Budhistorik</h2>
        @if (Model.Bids.Any())
        {
            <thead>
                <tr>
                    <th>Belopp</th>
                    <th>Budgivare</th>
                    <th>Tid</th>
                </tr>
            </thead>
            <tbody>
                <!--loopa igenom bud och organisera dem id fallande ordning-->
                @foreach (var bid in Model.Bids.OrderByDescending(bids => bids.PlacedAt))
                {
                    <tr>
                        <td>@bid.Amount tokens</td>
                        @if (bid.User != null)
                        {
                            <td>@bid.User.UserName</td>
                        }
                        else
                        {
                            <td>Användare okänd...</td>
                        }
                        <td>@bid.PlacedAt</td>
                    </tr>
                }
            </tbody>
        }
        else
        {
            <p><em>Bud saknas. Bli först med att lägga ett bud.</em></p>
        }
    </section>
    <section>
        <h2>Lägg ett bud</h2>
        
        <!--Felmeddelande om för lågt bud, successmeddelande om lyckat bud.-->
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
            }
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">@TempData["SuccessMessage"]</div>
            }
        
        <form asp-controller="Bid" asp-action="Create" method="post">
            <input type="hidden" name="AuctionId" value="@Model.Id" />
            <div class="form-group">
                <label for="Amount">Antal tokens:</label>
                <input type="number" class="form-control" name="Amount" id="amount" required />
            </div>
            <button type="submit" class="btn btn-success">Lägg bud</button>
        </form>
    </section>
    <a asp-action="Index">Tillbaka till annonser</a>
</div>
